$ORIGIN .
$TTL	86400
{{ fwd_domain_name }}		IN SOA	{{ fwd_domain_name }}. root.{{ fwd_domain_name }}. (
				3682       ; serial
				604800     ; refresh (1 week)
				86400      ; retry (1 day)
				2419200    ; expire (4 weeks)
				86400      ; minimum (1 day)
				)
			NS	{{ ansible_hostname }}.{{ fwd_domain_name }}.
$ORIGIN {{ fwd_domain_name }}.
{{ ansible_hostname }}			A	{{ dnsserver_ipaddress }}
$TTL 300	; 5 minutes
;